@model BusinesEntities.Purchase

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Purchase</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.PurchaseId)

        <div class="form-group">
            @Html.LabelFor(model => model.PurchaseNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PurchaseNo)
                @Html.ValidationMessageFor(model => model.PurchaseNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BillNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BillNo)
                @Html.ValidationMessageFor(model => model.BillNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PurchaseDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PurchaseDate)
                @Html.ValidationMessageFor(model => model.PurchaseDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AccountNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AccountNo)
                @Html.ValidationMessageFor(model => model.AccountNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RateCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RateCode)
                @Html.ValidationMessageFor(model => model.RateCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GoldRate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GoldRate)
                @Html.ValidationMessageFor(model => model.GoldRate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RefrenceNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RefrenceNo)
                @Html.ValidationMessageFor(model => model.RefrenceNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalQty, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalQty)
                @Html.ValidationMessageFor(model => model.TotalQty)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalWeight, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalWeight)
                @Html.ValidationMessageFor(model => model.TotalWeight)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalPureWeight, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalPureWeight)
                @Html.ValidationMessageFor(model => model.TotalPureWeight)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GoldPrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GoldPrice)
                @Html.ValidationMessageFor(model => model.GoldPrice)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalMaking, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalMaking)
                @Html.ValidationMessageFor(model => model.TotalMaking)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalPrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalPrice)
                @Html.ValidationMessageFor(model => model.TotalPrice)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Karat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Karat)
                @Html.ValidationMessageFor(model => model.Karat)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GoldPayment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GoldPayment)
                @Html.ValidationMessageFor(model => model.GoldPayment)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CashPayment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CashPayment)
                @Html.ValidationMessageFor(model => model.CashPayment)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GoldBalance, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GoldBalance)
                @Html.ValidationMessageFor(model => model.GoldBalance)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CashBalance, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CashBalance)
                @Html.ValidationMessageFor(model => model.CashBalance)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CurrencyCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CurrencyCode)
                @Html.ValidationMessageFor(model => model.CurrencyCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TypeCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TypeCode)
                @Html.ValidationMessageFor(model => model.TypeCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedOn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreatedOn)
                @Html.ValidationMessageFor(model => model.CreatedOn)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
